{% extends "main.html" %}
{% block content %}

<style>
  .home-container {
    display: grid;
    grid-template-columns: 1fr 3fr;  /* Left = 1 part, Right = 3 parts */
    gap: 20px;
    align-items: start;
  }
</style>

<div class="home-container">

  <!-- Left side: Browse topics -->
  <div>
    <h3>Browse Topic</h3>
    <hr>

    <div>
      <a href="{% url 'home' %}">All</a>
    </div>

    {% for topic in topics %}
    <div>
      <a href="{% url 'home' %}?q={{ topic.name }}">{{ topic.name }}</a>
    </div>
    {% endfor %}

  </div>

  <!-- Right side: Create room + room list -->
  <div>
    <h5>{{ room_count }} rooms available</h5>
    <a href="{% url 'create-room' %}"><h1>Create room</h1></a>
    <h1>home template</h1>

    {% for room in rooms %}
    <div>
      <div>
        <a href="{% url 'update-room' room.id %}"><h1>update room</h1></a>
      </div>

      <div>
        <a href="{% url 'delete-room' room.id %}"><h1>delete room</h1></a>
      </div>

      <span>@{{ room.host.username }}</span>
      <h3>{{ room.id }} -- <a href="{% url 'room' room.id %}">{{ room.name}}</a></h3>

      <br><hr>

      <small>{{ room.topic.name }}</small>
    </div>
    {% endfor %}
  </div>

</div>

{% endblock content %}
