{% extends 'main.html'  %}

{% block content %}

{% if page == 'login' %}
<div>
    <form action="" method="post">

        {% csrf_token %}
        <label for="">enter username</label>
        <input type="text" name="username" id="" value="" placeholder="enter username">
        <label for="">password</label>
        <input type="password" name="password" value="">
        <input type="submit" value="Login">

    </form>
    <p>haven't signed up yet</p>
    <a href="{% url 'register' %}">signup</a>
</div>

{% else %}

<div>
    <form action="" method="post">

        {% csrf_token %}
        
        {{ form.as_p }}
        
        <input type="submit" value="register">

    </form>

    <p>haven't signed up yet</p>
    <a href="{% url 'login' %}">logup</a>

</div>

{% endif %}

{% endblock content %}