{% extends "main.html" %}
{% block content %}

<style>
  .profile-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
  }
</style>

<h1>{{ user.username }}'s Profile</h1>

<div class="profile-container">
  <!-- Left: Topics -->
  <div>
    {% include 'base/topic_component.html' %}
  </div>

  <!-- Middle: Rooms -->
  <div>
    {% include 'base/feed_component.html' %}
  </div>

  <!-- Right: Recent Activities -->
  <div>
    {% include 'activity_component.html' %}
  </div>
</div>

{% endblock content %}